
<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
	<include src="layout/header.html" ></include>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg  hidden-xs">
		<include src="layout/sidebar.html" title="About"></include>
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/about.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">

<h2>Background – Russell Maxwell</h2>

<p>Russell has worked in Banking and Finance for over 30 years, including Senior roles with St George Bank, Advance Leasing, BankSA and Beneficial Finance.</p>

<p>Positions held include State Lending Manager, State Operations Manager, Regional Manager QLD Advance Leasing and Senior Manager QLD St George Corporate and Business Banking.</p>

<p>Russell has a high level of experience and expertise in practically all forms of lending and is ideally positioned to address the needs of his clients.  Russell can become your personal Relationship Manager for all of your borrowing requirements.</p>

<h2>Why use Maxwell Financial Services?</h2>
<section class="indent-content">
<h4>Experience</h4>

<p>•	Russell has over 30 years experience in Banking and Finance including Senior Management positions in Corporate Banking, Equipment and Motor Vehicle finance and Residential Mortgage Lending<br>
<br>•	Russell is tertiary qualified with a Diploma of Business (Accounting) and a Diploma of Financial Services.</p>
 	 
<h4>Credibility</h4>

<p>•	Russell is a Full member of the Mortgage and Finance Association of Australia, having passed stringent compliance tests including Industry, Legislation and Product exams, Police name search, credit checking and referencing from other members.<br>
<br>•	Russell has attended Product Training seminars for the major lenders and completed formal accreditation process for individual lenders where required<br>
<br>•	Russell is a member of the Credit Ombudsman Service Limited, membership number 404056. This organisation is a professional, independent dispute resolution body which handles customer complaints.</p>
 	 
<h4>Product Range</h4>

<p>•	Russell has accreditations with over 25 residential lenders providing access to over 2000 residential lending products. Our web based software program is updated daily providing up to date information on rates, fees and products.<br><br>
 •	Russell has Commercial accreditations with the majority of commercial lenders which provides access to all commercial products including business acquisition and refinance, commercial property finance, equipment and motor vehicle finance and debtor funding.
  	</p> 
<h2>Accessibility</h2>

<p>•	Our business is located at Spring Hill in the upper CBD. We have plenty of nearby parking and we are close Central Train Station. You are welcome to meet at our office or we can come to you.</p>


<h2>Background – Russell Maxwell</h2>
<p>
Russell has worked in Banking and Finance for over 35 years, including Senior roles with St George Bank, Advance Leasing, BankSA and Beneficial Finance.
</p>
<p>
He has a high level of experience and expertise in all forms of lending and is ideally positioned to address the needs of his clients. Russell can become your personal Relationship Manager for all of your borrowing requirements.
</p>
<p>
He holds a Diploma of Business (Accounting) and a Diploma of Financial Services.
Russell can be contacted on 0408 717172 or <a href="russell@maxfin.com.au">russell@maxfin.com.au </a>
</p>
	<p class="m1_text" align="center"><img alt="Russell Maxwell" src="http://www.maxfin.com.au/images/Russell_Maxwell.jpg" width="200" height="300"><br><br><strong>Russell Maxwell<br>Director<br>Maxwell Financial Services Pty Ltd </strong></p>

<h2>Background – Natalie Leftwich</h2>
<p>
Natalie has worked in the Finance industry for over 20 years, including roles with NAB Corporate Banking and the last 6 years working at Maxwell Financial as a Loans Consultant.
</p>
<p>
In her various roles, Natalie has developed extensive experience in residential property finance, motor vehicle and equipment finance and Novated Lease funding for our Salary Packaging clients.
</p>
<p>
Natalie holds a Bachelor of Business (Accounting) and a Diploma of Financial Services.
Natalie can be contacted on 0431 484598 or <a href="natalie@maxfin.com.au">natalie@maxfin.com.au</a>
</p>
	<!-- <p class="m1_text" align="center"><img alt="Russell Maxwell" src="http://www.maxfin.com.au/images/Russell_Maxwell.jpg" width="200" height="300"><br><br><strong>Russell Maxwell<br>Director<br>Maxwell Financial Services Pty Ltd </strong></p> -->


<h2>Why use Maxwell Financial Services?</h2>
<h4>Credibility</h4>
<p>
Maxwell Financial is a Full member of the Mortgage and Finance Association of Australia, having passed stringent compliance tests including Industry, Legislation and Product exams, Police name search, credit checking and referencing from other members.
</p>
<p>
Our brokers have attended Product Training seminars for the major lenders and completed formal accreditation process for individual lenders where required
</p>
<p>
We are a member of the Credit Ombudsman Service Limited, membership number 404056. This organisation is a professional, independent dispute resolution body which handles customer complaints.
</p>
<h4>Product Range</h4>
<p>
Maxwell Financial has accreditations with over 25 residential lenders providing access to over 2000 residential lending products. Our web based software program is updated daily providing up to date information on rates, fees and products.</p>
<p>
We also have Commercial accreditations with a wide range of commercial lenders which provides access to all commercial products including business acquisition and refinance, commercial property finance, equipment and motor vehicle finance and debtor funding. 
</p>

<h2>Accessibility</h2>
<p>
Our business is located at Spring Hill in the upper CBD. We have plenty of nearby parking and we are close Central Train Station. You are welcome to meet at our office or we can come to you. </p>

</section>
</div>
	<include src="layout/footer.html" ></include>
	</div>
	</div>
</main>
<include src="layout/foot.html" ></include>




