<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
  <include src="layout/header.html" ></include>
  <div class="row">
  <div id="sidebar" class="col-md-2 col-sm-3 grey-bg hidden-xs">
    <include src="layout/sidebar.html" title="Apply Online - Refinance"></include>
  </div>
  <img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/tools.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">

<p align="left" class="h_heading2">Apply Online - Refinancing Form </p>
<form name="apply_refinance_form" action="http://financetools.com.au/maxfin/mailit.php" method="post" id="ContactUS">

<input name="recipient" value="admin@maxfin.com.au" type="hidden">

<input name="redirect" value="http://maxfin.com.au" type="hidden">

<input name="subject" value="Enquiry for Maxwell Financial (Apply - Refinance)" type="hidden">          
                      <table width="330" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                          <td width="71%" class="m1_text"><table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                              <tbody>
                                <tr>
                                  <td colspan="2"><p align="center" class="style4">&nbsp;</p>
                                      <p>&nbsp; </p></td>
                                </tr>
                                <tr>
                                  <td width="28%"><div align="left">First Name <span class="style4">*</span> </div></td>
                                  <td><div align="left">
                                      <input style="background-color: rgb(255, 255, 160);" name="FirstName1" class="box" id="FirstName1" size="30" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Second Name</div></td>
                                  <td><div align="left">
                                      <input name="SecondName1" class="box" id="SecondName1" size="30" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Surname<span class="style4"> * </span></div></td>
                                  <td><div align="left">
                                      <input name="Surname1" class="box" id="Surname1" size="30" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td valign="top"><div align="left">Address<span class="style4"> *</span> </div></td>
                                  <td><div align="left">Street No
                                    <input style="background-color: rgb(255, 255, 160);" name="StreetNo" class="box" id="StreetNo" size="6" maxlength="6" type="text">
                                          <br>
                                    Street Name
                                    <input style="background-color: rgb(255, 255, 160);" name="Address" class="box" id="Address" size="30" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td valign="top"><div align="left">Suburb <span class="style4">*</span> </div></td>
                                  <td><div align="left">
                                      <input name="Suburb" class="box" id="Suburb" size="30" type="text">
                                      <br>
                                  </div></td>
                                </tr>
                                <tr>
                                  <td valign="top">Postcode</td>
                                  <td><input name="PostCode" class="box" id="PostCode" size="6" type="text"></td>
                                </tr>
                                <tr>
                                  <td valign="top">State</td>
                                  <td><select style="background-color: rgb(255, 255, 160);" name="State" size="1" class="box" id="State">
                                    <option value="QLD">QLD</option>
                                    <option value="NSW" selected="selected">NSW</option>
                                    <option value="VIC">VIC</option>
                                    <option value="ACT">ACT</option>
                                    <option value="TAS">TAS</option>
                                    <option value="SA">SA</option>
                                    <option value="WA">WA</option>
                                    <option value="NT">NT</option>
                                  </select></td>
                                </tr>
                                <tr>
                                  <td><div align="left">How long have you lived here?</div></td>
                                  <td><div align="left">Years
                                    <input name="LivedYears1" class="box" id="LivedYears1" size="5" type="text">
                                    Months
                                    <input name="LivedMonths1" class="box" id="LivedMonths1" size="5" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">What weekly rent do you pay </div></td>
                                  <td class="text"><div align="left">$
                                    <input name="rent" class="box" id="rent" size="29" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Date of birth<span class="style4"> * </span></div></td>
                                  <td><div align="left">
                                      <input name="dob1" class="box" id="dobd1" size="10" maxlength="10" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Occupation <span class="style4">* </span></div></td>
                                  <td><div align="left">
                                      <input name="Occupation1" class="box" id="Occupation1" size="30" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Employer</div></td>
                                  <td width="72%" nowrap="nowrap"><div align="left">
                                      <input name="Employer12" class="box" id="Employer12" size="30" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Term of Employment</div></td>
                                  <td><div align="left">Years
                                    <input name="toey1" class="box" id="toey1" size="5" type="text">
                                    Months
                                    <input name="toem1" class="box" id="toem1" size="5" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td height="25"><div align="left">Gross Annual Income<span class="style4"> * </span></div></td>
                                  <td nowrap="nowrap"><div align="left">$
                                    <input name="gai1" class="box" id="gai1" size="29" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Family Allowance etc.</div></td>
                                  <td><div align="left">$
                                    <input name="fa1" class="box" id="fa1" size="12" type="text">
                                    per fortnight</div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Do you have any other income?</div></td>
                                  <td><div align="left">Yes
                                    <input name="aa1" id="aa1" value="Yes" type="radio">
                                    No
                                    <input name="aa1" id="aa1" value="No" checked="checked" type="radio">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Marital Status</div></td>
                                  <td><div align="left">
                                      <input name="MaritalStatus1" class="box" id="MaritalStatus1" size="10" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Number of Children</div></td>
                                  <td><div align="left">
                                      <input name="NumChild1" class="box" id="NumChild1" size="2" maxlength="2" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Telephone Home</div></td>
                                  <td><div align="left">(
                                    <input style="background-color: rgb(255, 255, 160);" name="PhPrefix1" class="box" id="PhPrefix1" size="2" maxlength="2" type="text">
                                    )
                                    <input style="background-color: rgb(255, 255, 160);" name="Ph1" class="box" id="Ph1" size="10" maxlength="8" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Telephone Mobile</div></td>
                                  <td><div align="left">
                                      <input style="background-color: rgb(255, 255, 160);" name="Mobile1" class="box" id="Mobile1" size="19" maxlength="10" type="text">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left"></div></td>
                                  <td><div align="left"></div></td>
                                </tr>
                                <tr>
                                  <td colspan="2" bgcolor="#e2e2e2"><div align="left"><strong>WHAT IS YOUR FINANCE 
                                    REQUIRED FOR ?</strong></div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Looking for Better Loan</div></td>
                                  <td><div align="left">Yes
                                    <input name="HomePurchase" id="HomePurchase" value="Yes" type="radio">
                                    No
                                    <input name="HomePurchase" id="radio8" value="No" checked="checked" type="radio">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Cash Takeout </div></td>
                                  <td><div align="left">Yes
                                    <input name="EquityTakeout" id="radio4" value="Yes" type="radio">
                                    No
                                    <input name="EquityTakeout" id="EquityTakeout" value="No" checked="checked" type="radio">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Business Loan </div></td>
                                  <td><div align="left">Yes
                                    <input name="BuyVacantLand" id="radio3" value="Yes" type="radio">
                                    No
                                    <input name="BuyVacantLand" id="BuyVacantLand" value="No" checked="checked" type="radio">
                                  </div></td>
                                </tr>
                                <tr>
                                  <td><div align="left">Renovation</div></td>
                                  <td><div align="left">Yes
                                    <input name="Carloan" id="radio2" value="Yes" type="radio">
                                    No
                                    <input name="Carloan" id="Carloan" value="No" checked="checked" type="radio">
                                  </div></td>
                                </tr>
                              </tbody>
                            </table>
                              <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr>
                                    <td width="44%" bgcolor="#e2e2e2"><div align="left"><strong>WHAT LOAN AMOUNT WILL 
                                      YOU REQUIRE ? <span class="style4">*</span> </strong></div></td>
                                    <td width="56%" bgcolor="#e2e2e2"><div align="left"></div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">Who is you current loan with?</div></td>
                                    <td><div align="left">
                                        <input name="PurchasePrice2" class="box" id="PurchasePrice2" size="19" maxlength="10" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="17" valign="bottom"><div align="left">Is it Fixed or Variable?</div></td>
                                    <td><div align="left">
                                        <input name="Occupying" id="radio24" value="Yes I/We will be occupying the premises" type="radio">
                                      Fixed&nbsp;
                                      <input name="Occupying" id="radio25" value="No, I/We will rent the property" checked="checked" type="radio">
                                      Variable</div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left"></div></td>
                                    <td><div align="left"></div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr>
                                    <td colspan="4" bgcolor="#e2e2e2"><div align="left"><strong>WHAT IS THE ADDRESS 
                                      OF THE HOME YOU OWN OR ARE REFINANCING?</strong></div></td>
                                  </tr>
                                  <tr>
                                    <td width="13%"><div align="left">Street No
                                      <input style="background-color: rgb(255, 255, 160);" name="PropertyStreetNo22" class="box" id="PropertyStreetNo22" size="6" maxlength="6" type="text">
                                    </div></td>
                                    <td colspan="2"><div align="left">Street Name
                                      <input style="background-color: rgb(255, 255, 160);" name="PropertyStreetName22" class="box" id="PropertyStreetName22" size="30" maxlength="30" type="text">
                                    </div></td>
                                    <td width="28%"><div align="left">Suburb
                                      <input style="background-color: rgb(255, 255, 160);" name="PropertySuburb22" class="box" id="PropertySuburb22" size="19" maxlength="15" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">State
                                      <select name="select2" size="1" class="box" id="select">
                                              <option>QLD</option>
                                              <option selected="selected">NSW</option>
                                              <option>VIC</option>
                                              <option>ACT</option>
                                              <option>TAS</option>
                                              <option>SA</option>
                                              <option>WA</option>
                                              <option>NT</option>
                                        </select>
                                    </div></td>
                                    <td width="37%"><div align="left">Postcode
                                      <input name="PropertyPostCode22" class="box" id="PropertyPostCode22" size="8" maxlength="8" type="text">
                                    </div></td>
                                    <td width="22%"><div align="left"></div></td>
                                    <td><div align="left"></div></td>
                                  </tr>
                                  <tr>
                                    <td colspan="4"><div align="left"></div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr>
                                    <td width="100%" bgcolor="#e2e2e2"><div align="left"><strong>DO YOU HAVE ANY CREDIT 
                                      DEFAULTS?</strong></div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">Yes
                                      <input name="CreditDefault" value="Yes" type="radio">
                                      No
                                      <input name="CreditDefault" value="No" checked="checked" type="radio">
                                    </div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr>
                                    <td colspan="2" height="18"><div align="left"><strong>PLEASE LIST KNOWN  DEFAULTS BELOW (If you do not know what is on your file then we can perform a check as your agent) </strong></div></td>
                                  </tr>
                                  <tr>
                                    <td width="13%"><div align="left"></div></td>
                                    <td><div align="left">Applicant 1</div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">Amount</div></td>
                                    <td bgcolor="#FFFFFF"><div align="left">$
                                      <input name="DateDefaultAmount1_12222" class="box" size="25" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">Date Paid </div></td>
                                    <td bgcolor="#FFFFFF"><div align="left">
                                        <input name="DatePaid1_12222" class="box" id="DatePaid1_12222" size="10" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left"></div></td>
                                    <td bgcolor="#FFFFFF"><div align="left"></div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">Amount</div></td>
                                    <td bgcolor="#FFFFFF"><div align="left">$
                                      <input name="DateDefaultAmount2_12222" class="box" id="DateDefaultAmount2_12222" size="25" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">Date Paid </div></td>
                                    <td bgcolor="#FFFFFF"><div align="left">
                                        <input name="DatePaid2_12222" class="box" id="DatePaid2_12222" size="10" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td colspan="2"><div align="left"></div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr>
                                    <td colspan="3" bgcolor="#e2e2e2"><div align="left"><strong>PLEASE LIST ALL CURRENT 
                                      LOANS</strong></div></td>
                                  </tr>
                                  <tr>
                                    <td width="50%"><div align="left">Lender (e.g. GE Finance etc.)</div></td>
                                    <td width="22%"><div align="left">Amount Owing</div></td>
                                    <td width="28%"><div align="left">Monthly Repayments</div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="Lender1222222" class="box" id="Lender1222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="AmountOwing1222222" class="box" id="AmountOwing1222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="MthRepay1222222" class="box" id="MthRepay1222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="Lender2222222" class="box" id="Lender2222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="AmountOwing2222222" class="box" id="AmountOwing2222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="MthRepay2222222" class="box" id="MthRepay2222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="Lender3222222" class="box" id="Lender3222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="AmountOwing3222222" class="box" id="AmountOwing3222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="MthRepay3222222" class="box" id="MthRepay3222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="Lender4222222" class="box" id="Lender4222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="AmountOwing4222222" class="box" id="AmountOwing4222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="MthRepay4222222" class="box" id="MthRepay4222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td colspan="3"><div align="left"></div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr>
                                    <td colspan="3" bgcolor="#e2e2e2"><div align="left"><strong>PLEASE LIST ALL CREDIT 
                                      CARDS</strong></div></td>
                                  </tr>
                                  <tr>
                                    <td width="50%"><div align="left">Issued by (e.g. ANZ Visa)</div></td>
                                    <td width="22%"><div align="left">Card Limit</div></td>
                                    <td width="28%"><div align="left">Currently Owing</div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="CreditCard12222222" class="box" id="CreditCard12222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CardLimit12222222" class="box" id="CardLimit12222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CurrOwing12222222" class="box" id="CurrOwing12222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="CreditCard22222222" class="box" id="CreditCard22222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CardLimit22222222" class="box" id="CardLimit22222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CurrOwing22222222" class="box" id="CurrOwing22222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="CreditCard32222222" class="box" id="CreditCard32222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CardLimit32222222" class="box" id="CardLimit32222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CurrOwing32222222" class="box" id="CurrOwing32222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <input name="CreditCard42222222" class="box" id="CreditCard42222222" size="45" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CardLimit42222222" class="box" id="CardLimit42222222" size="12" type="text">
                                    </div></td>
                                    <td nowrap="nowrap"><div align="left">$
                                      <input name="CurrOwing42222222" class="box" id="CurrOwing42222222" size="12" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td colspan="3"><div align="left"></div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr>
                                    <td width="50%" colspan="3" bgcolor="#e2e2e2"><div align="left"><strong>YOUR CONTACT DETAILS</strong></div></td>
                                  </tr>
                                  <tr>
                                    <td width="50%"><div align="left">What is your Email Address? <span class="style4">*</span> </div></td>
                                    <td width="22%"><div align="left">
                                        <input style="background-color: rgb(255, 255, 160);" name="EmailAddress22222222" class="box" id="EmailAddress22222222" size="35" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">What is the best <strong>DAYTIME</strong> number to phone you on? <span class="style4">*</span> </div></td>
                                    <td><div align="left">(
                                      <input style="background-color: rgb(255, 255, 160);" name="ContactNumberPrefix22222222" class="box" id="ContactNumberPrefix22222222" size="2" maxlength="2" type="text">
                                      )
                                      <input style="background-color: rgb(255, 255, 160);" name="ContactNumber22222222" class="box" id="ContactNumber22222222" size="10" maxlength="8" type="text">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">What is the best time <strong>during the day</strong> to phone you? <span class="style4">*</span> </div></td>
                                    <td><div align="left">
                                        <input style="background-color: rgb(255, 255, 160);" name="ContactTime22222222" class="box" id="ContactTime22222222" size="10" type="text">
                                        <select name="select3" class="box">
                                          <option value="" selected="selected"> </option>
                                          <option value="AM">AM</option>
                                          <option value="PM">PM</option>
                                        </select>
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td colspan="3"><div align="left"></div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table width="90%" border="0" align="center" cellpadding="1" cellspacing="1" class="m1_text">
                                <tbody>
                                  <tr bgcolor="#e2e2e2">
                                    <td width="72%"><div align="left"><strong> ANY OTHER 
                                      COMMENTS OR INFORMATION THAT MAY HELP US</strong></div></td>
                                  </tr>
                                  <tr>
                                    <td><div align="left">
                                        <textarea name="textarea" cols="60" rows="10" wrap="virtual" class="text" id="textarea"></textarea>
                                    </div></td>
                                  </tr>
                                </tbody>
                              </table>
                            <p align="center">
                                <input name="Reset" type="reset" class="formbutton" value="Reset">
                              &nbsp;&nbsp;
                              <input name="Submit2" type="submit" class="formbutton" value="Submit">
                            </p>
                            </td>
                        </tr>
                      </tbody></table>
            </form>
                                  <p align="left" class="m1_text">&nbsp;</p>
                      

</div>
  <include src="layout/footer.html" ></include>
  </div>
  </div>
</main>
<include src="layout/foot.html" ></include>



