<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial">
</include>
<main class="container">
    <include src="layout/header.html">
    </include>
    <div class="row">
        <div class="col-md-2 col-sm-3 grey-bg hidden-xs" id="sidebar">
            <include src="layout/sidebar.html" title="How Much Can I Borrow?">
            </include>
        </div>
        <img alt="" class="col-md-10 col-sm-9" id="banner-img" src="http://www.maxfin.com.au/images/borrow.jpg">
            <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
                <div class="content">
                    <h2>
                        Maxwell Platinum Clients 
                    </h2>
                    <p>
                        We can source funding for our high net worth clients via our network of Private Bank contacts, Commercial lenders and motor vehicle financiers.</p>
                        <p>
The majority of our Platinum clients are Accountants, Solicitors, Medical Practitioners and other professionals, together with a range of self employed operators and high income salaried individuals.
</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Minimum criteria is
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Annual income
                                    </th>
                                    <td>
                                        $400,000+
                                    </td>
     
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Net Worth
                                    </th>
                                    <td>
                                        $2.5M+
                                    </td>
                                  
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Loan size
                                    </th>
                                    <td>
                                        $1M+
                                    </td>
                                 
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <include src="layout/footer.html">
                </include>
            </div>
        </img>
    </div>
</main>
<include src="layout/foot.html">
</include>
