<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
	<include src="layout/header.html" ></include>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg  hidden-xs">

		<include src="layout/sidebar.html" title="Want a better deal?"></include>
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/deal.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">


<h1>Refinance</h1>

<h2>You Could Be Paying More Than You Have To!</h2>

<p>Maxwell Financial provides a quick, easy and obligation free service that allows you to compare your current home loan against the hundreds available from our panel of lenders.It is common for people to refinance as they can get a better interest rate, lower monthly repayments and change their loan to suit their lifestyle.Best of all, it won’t cost you anything to have a Maxwell Financial consultant compare loans for you- so you can start saving money now.</p>


<h2>Debt Consolidation</h2>

<p>Do you have a personal loan, credit card debt or car loan? It is possible to save a considerable amount in interest payments by combining these debts with your home loan. While this can be a good idea in many cases, you should consider a couple of things first. Such as, are there any exit costs on your short-term loans, which would cancel out any benefit derived by consolidating with your home loan? You will also need to be careful not to end up paying more by spreading your repayments over a longer period of time. A Maxwell Financial consultant can help you to restructure your finances and discuss ways for you to obtain the savings and avoid the traps.</p>


<h2>Refinancing Tips &amp; Tricks</h2>

<p>You don’t have to be buying or selling your home to move your loan.</p>

<p>There is no reason to wait until you sell your home or buy another property. If you are not satisfied with your current loan, why not start saving now?</p>


<p>You can save thousands by switching to a more appropriate loan.
Saving made as a result of lower interest rates and low or no monthly fees can be sizeable. When these savings are added to your repayments, they can cut years off your home loan and save you a considerable amount.
</p>

<h2>Save more by consolidating your finances.</h2>
<p>Consolidating your credit cards, personal loans and car loans with your home loan could save you a small fortune in interest payments, fees and charges.</p>


<h2>You don’t need to shop around.</h2>
<p>Maxwell Financial will do the running around for you! Maxwell Financial consultants use their expertise and experience in the home loan market coupled with a unique computer software program that enables them to compare hundreds of loans in a matter of minutes.Our consultants will then be able to provide you with a short list of loans that are both competitive and suitable – simplifying the refinancing process for you. Call us on (07) 3832 0599.
</p>






</div>
	<include src="layout/footer.html" ></include>
	</div>
	</div>
</main>
<include src="layout/foot.html" ></include>



