<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
	<include src="layout/header.html" ></include>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg hidden-xs">
		<include src="layout/sidebar.html" title="Self-Employed"></include>
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/invest.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">



<h2>Self-Employed and Non-Conforming</h2>

<p>Not all people seeking a home loan will fall into the typical category or mould that applies to the standard home loan.</p>

<p>You may be self-employed and have a more complex financial situation, with business and personal finances linked together.</p>

<p>You may have a poor credit history or be unable to provide the necessary documentation to support your application. Perhaps you need to borrow more than 100% of the property value.</p>

<p>Whatever your situation, Maxwell Financial has a range of products from different lenders that recognise that not all home loan applicants are the same. Call us on (07) 3832 0599 to talk to us about your unique lending requirements.</p>



</div>
	<include src="layout/footer.html" ></include>
	</div>
	</div>
</main>
<include src="layout/foot.html" ></include>



