<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
	<include src="layout/header.html" ></include>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg hidden-xs">
		<include src="layout/sidebar.html" title="First Home Buyers"></include>
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/firsthome.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">



 
<h2 id="1">First Home Buyers</h2>
<p>The stress-free guide to buying your first home.</p>

<h2 id="2">Which Home Loan Is Right For Me?</h2>
<p>With so many different loan products on the market, finding a home loan is not as simple as it used to be. There is a range of options available to you that may save you money, provide you with greater flexibility and peace of mind.</p>
<p>
Maxwell Financial consultants use their expertise and experience in the home loan market coupled with a unique computer software program that enables them to compare hundreds of loans in a matter of minutes. Our consultants will then be able to provide you with a short list of loans that are both competitive and suitable – simplifying the loan selection process.</p>

 

<h2 id="3">First Home Owners Grant – FHOG</h2><p>
The Federal Government introduced the FHOG in 2000 to assist First Home Buyers meet the cost of buying or building their first homes.</p>

<p>It is a non means-tested grant of $15,000 that can even be used to form part of the deposit on your first home purchase.</p>

<p>Maxwell Financial consultants can help you to access the FHOG.</p>

 

<h2 id="4">First Home Buyer’s Frequently Asked Questions.</h2>
<p align="left"><a href="#1">How Much Can I Borrow?</a><br><a href="#2">Am I Eligible For The First Home Owners Grant?</a><br><a href="#3">What Will My Repayments Be?</a><br><a href="#4">How Much Do I Need To Save For A Deposit?</a><br><a href="#5">How Much Do I Need To Set Aside For Stamp Duty?</a><br><a href="#6">What Other Expenses Will I Need To Pay Besides Mortgage &amp; Stamp Duties?</a><br><a href="#7">How Do I Choose Which Home Is Best For Me?</a><br><a href="#8">What Should I Do Now?</a></p>

 

<h2 id="5">How Much Can I Borrow?</h2>
<p>We have access to the servicing calculators of all of our panel lenders and can calculate your maximum borrowing capacity with each lender.</p>

 

<h2 id="6">Am I Eligible For The First Home Owners Grant?</h2>
<p>This one-off grant of $15,000 is available to First Home Buyers intending to live in the home they are buying. Basically, you are eligible if you are an Australian citizen or a permanent resident who is buying or building your first home in Australia and intend to occupy it as your principal place of residence within 12 months of settlement. Note that if you are purchasing the property in conjunction with others, they must also meet the same criteria for the grant to be available.</p>

<h2 id="7">What Will My Repayments Be?</h2>
It is one thing to work out how much you can borrow, but you need to know if you can afford the repayments.

 

<h2 id="8">How Much Do I Need To Save For A Deposit?</h2>
<p>The amount you need as a deposit will depend on the type of home loan and the lender you select. Generally you will require a minimum of 5% of the property value.</p>

 

<h2 id="9">How Much Do I Need To Set Aside For Stamp Duty?</h2>
<p>Stamp duty is a tax levied on the purchase of a property. It is calculated according to the purchase price of the property and the state or territory the property is situated in.</p>

 

<h2 id="10">What Other Expenses Will I Need To Pay Besides Mortgage & Stamp Duties?</h2>
<p>
As a rough guide, you should budget for between 5-7% of the purchase price, in addition to your deposit, to cover fees and charges. While mortgage and stamp duties will make up the bulk of this 5-7%, the balance may include;
</p>
<ul>
<li>- Building and pest reports </li>
<li>- Valuation fees </li>
<li>- Lenders mortgage insurance (LMI) </li>
<li>- Solicitors fees </li>
<li>- Insurances </li>
<li>- Utility connection fees – phone/gas/electricity </li>
<li>- Council and water rates </li>
<li>- Removalist costs</li></ul>
 

<h2 id="11">How Do I Choose Which Home Is Best For Me?</h2>
<p>
When deciding on the area to live in, apart from considering proximity to family, friends and work commitments, you will obviously need to think about prices. Prices will vary greatly from suburb to suburb.

To help you decide on the right home for you, Maxwell Financial consultants can arrange for a free report on the area you are interested in.
</p>
 

<h2 id="12">What Should I Do Now?</h2>
<p>You can make an appointment with a Maxwell Financial consultant by calling (07) 3832 0599.</p>







</div>
	<include src="layout/footer.html" ></include>
	</div>
	</div>
</main>
<include src="layout/foot.html" ></include>



