<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
	<include src="layout/header.html" ></include>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg hidden-xs">
		<include src="layout/sidebar.html" title="Looking to invest"></include>
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/invest.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">

<h2>Property Investment</h2>

<p>Investing in property has always been seen as a safe and effective way to build wealth.</p>

<p>The tangible evidence of your investment coupled with the rental income and possible tax concessions make it easy to see why an investment in property can be an attractive choice.
</p>

<h2>Property Investing Tips &amp; Tricks</h2>

<p>Is it easier if I already own a property?</p>
<p>
If you already own your own home, you will be familiar with the property purchasing process; it is not that difficult to take your next steps in purchasing a property for investment.</p>

<p>Utilising the equity in your home to finance an investment (property, shares etc) is a great way of putting your property to work for you. This will often be a more cost-effective option than taking out a personal loan.</p>


<h2>Negative gearing*</h2>
<p>When the return or income you receive from your rental property is less than the expenses of owning that property (interest on your loan, council rates etc) – the property is said to be negatively geared.</p>

<p>In some instances the Australian Taxation Office will allow this ‘loss’ incurred on the investment to be offset against other income, as a tax deduction.
</p>
Example:

<table border="1" cellspacing="0" cellpadding="3" width="72%">
<tbody>
<tr>
<td width="76%">Rent received</td>
<td width="24%">9,000</td></tr>
<tr>
<td>Expenses incurred </td>
<td>12,000</td></tr>
<tr>
<td>Loss which may be claimed as a tax deduction</td>
<td>3,000</td></tr></tbody></table>


<h2>Seek independent financial advice</h2>

<p>The old adage that if an investment opportunity sounds too good to be true, it usually is – holds true. Always be sure to research your investment decision thoroughly. Be sure to seek independent property and financial advice.</p>

<p>If you are turning to property investment for capital growth, tax benefits and as a retirement strategy, it is very important to learn as much as you can, especially if it is an area you’re not completely familiar with.
</p>


</div>
	<include src="layout/footer.html" ></include>
	</div>
	</div>
</main>
<include src="layout/foot.html" ></include>



