<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
	<include src="layout/header.html" ></include>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg hidden-xs">
		<include src="layout/sidebar.html" title="How Much Can I Borrow?"></include>
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/borrow.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">
<h2>How Much Can I Borrow?</h2>
<p>
Find out how much you can expect to borrow, based on how much you earn and what your current expenses are.</p>

<h2>How Much Will Stamp Duty Be?</h2>
<p>
The amount of stamp duty paid will vary from state to state and whether you are a First Home Buyer or not.</p>

<h2>What Will My Loan Repayments Be?</h2>
<p>
Find out how much your loan repayments would be for any borrowed amount, using different interest rates and loan terms.</p>

<h2>What If I Make Extra Repayments?</h2>
<p>
You can save yourself a lot in interest payments just by paying more than the required minimum. It could also cut years off the term of your loan.</p>

<h2>Latest Rates</h2>
<p>
One of the many factors you should take into consideration when choosing the loan that’s right for you is the interest rate.</p>
<p>
The interest rate on it’s own however, does not give a true indication of the actual cost of the loan. Other factors to consider include the ongoing fees and up-front charges.
</p>
<p>
These fees can vary between lenders and loans. So, how do you make sure you are comparing apples with apples, like with like?
</p>
<p>By using comparison rates.</p>


</div>
	<include src="layout/footer.html" ></include>
	</div>
	</div>
</main>
<include src="layout/foot.html" ></include>



