<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial"></include>
<main class="container">
	<include src="layout/header.html" ></include>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg hidden-xs">
		<include src="layout/sidebar.html" title="Commercial lending"></include>
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/about.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">
<h1>Commercial Lending</h1>

<p>With our many commercial accreditations, Maxwell Financial Services can assist you with obtaining the ideal funding package for your business. Products include:</p>

<h2>Commercial Property funding</h2>

<p>Whether it be for purchase of a commercial property, working capital, business expansion, refinance or a term loan for investment or own use, we have access to many funders who have varying requirements for debt servicing, loan to valuation ratios, property location and usage. Therefore it is important to ensure that you are getting the best possible facility to suit your needs.</p>

<h2>Development Finance</h2>
<p>We have many years experience in helping developers with finance for land subdivisions, unit and townhouse projects and commercial and industrial construction. All financiers have different requirements at different times and we can assist with finding the right lender for your project.</p>

<h2>Business Acquisition/Refinance</h2>
<p>If you are seeking to purchase a new business or refinance your existing business, a number of financing options are available. You may wish to separate the equipment funding from the lender offering the overdraft facility, release certain securities or just look for a better relationship with a lender that understands your needs. We can help you address all of these issues.</p>

<h2>Debtor Finance</h2>
<p>Debtor finance provides a working capital facility to businesses secured by the value of their receivables ledger. If a client does not wish to secure their home or business premises for an overdraft facility, or if their overdraft facility is inadequate to fund the growth of the business, debtor financing is an ideal product to consider. This product is best suited to businesses that are selling products or services to other businesses.</p>

<h2>Management Rights</h2>

<p>Management Rights are a very popular investment and lifestyle choice for many clients. On site Resident Unit Manager’s can derive a healthy income from managing the unit letting and building maintenance of their unit development. Several lenders are active in this area and will consider a range of funding options of both the manager’s unit and the management rights.
</p>
Insurance Premium Funding
<p>Some lenders will fund 100% of a broad range of insurance premiums which can assist the cash flow of your business by removing the “lumpy” costs. Assessment is hassle free and approvals are turned around quickly.</p>


</div>
	<include src="layout/footer.html" ></include>
	</div>
	</div>
</main>
<include src="layout/foot.html" ></include>



