<include src="layout/head.html" title="Finance Broker Brisbane - Maxwell Financial">
</include>
<main class="container">
    <include src="layout/header.html">
    </include>
    <div class="row">
        <div class="col-md-2 col-sm-3 grey-bg hidden-xs" id="sidebar">
            <include src="layout/sidebar.html" title="Useful Tools">
            </include>
        </div>
        <img alt="" class="col-md-10 col-sm-9" id="banner-img" src="http://www.maxfin.com.au/images/tools.jpg" />
            <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
                <div class="content">
                <h2>Useful Tools</h2>
                    <span class="m1_text">
                        Buying a home, investing in a property or refinancing your current loan can be a confusing time.
                    </span>
                    <p class="m1_text">
                        These checklists provide a useful way to help you get organised.
                    </p>
                    <ul id="tools" class="list-inline">
                    <li>
                    <a href="checklists/6stepbuyer.pdf" target="_blank">
                        <img height="143" src="http://www.maxfin.com.au/images/checklist1.jpg" width="100"/>
                        <span> 6 Steps buyer Checklist</span>
                    </a>
                    </li>
                    <li>
                    <a href="checklists/budgetplanner.pdf" target="_blank">
                        <img height="143" src="http://www.maxfin.com.au/images/checklist2.jpg" width="100"/>
                        <span>Budget Planner Checklist</span>
                    </a>
                    </li>
                    <li>
                    <a href="checklists/document.pdf" target="_blank">
                        <img height="143" src="http://www.maxfin.com.au/images/checklist3.jpg" width="100"/>
                        <span>Document Checklist</span>
                    </a>
                    </li>
                    <li>
                    <a href="checklists/homeinspection.pdf" target="_blank">
                        <img height="143" src="http://www.maxfin.com.au/images/checklist4.jpg" width="100"/>
                        <span>Home Inspection Checklist</span>
                    </a>
                    </li>
                    <li>
                    <a href="checklists/homeloanprocess.pdf" target="_blank">
                        <img height="143" src="http://www.maxfin.com.au/images/checklist5.jpg" width="100"/>
                        <span>Home Loan Process   <br>  Checklist</span>
                    </a>
                    </li>
                    <li>
                    <a href="checklists/moving.pdf" target="_blank">
                        <img height="143" src="http://www.maxfin.com.au/images/checklist6.jpg" width="100"/>
                        <span> Moving <br>Checklist</span>
                    </a>
                    </li>
                    <li>
                    <a href="checklists/repaymentscalculator.pdf" target="_blank">
                        <img height="143" src="http://www.maxfin.com.au/images/checklist7.jpg" width="100"/>
                        <span> Repayments<br>Calculator</span>
                    </a>
                    </li>
                    </ul>
                </div>
            <include src="layout/footer.html"></include>
            </div>

    </div>
</main>
<include src="layout/foot.html">
</include>
