<div class="col-xs-12">
<div class="owl-carousel">
		<include src="carousel/slide.html" class="active" img="assets/images/1slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/2slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/4slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/3slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/5slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/6slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/7slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/8slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/9slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/10slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/11slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/12slide.png"></include>
		<include src="carousel/slide.html"  class="" img="assets/images/13slide.png"></include>
</div>
</div>
<footer>
<div class="col-xs-12 text-right"><a href="privacy.html">Privacy</a> | <a href="terms.html">Terms &amp; Conditions</a> | <a href="sitemap.html">Sitemap</a> </div>
</footer>