<header class="banner row">
    <div class="col-md-7 col-sm-6">
    <a href="/templates/layouts/home.html">
        <img alt="Maxwell Financial" height="73" src="/assets/images/MAXWELL_Logo.png" width="277">
        </a>
            <a aria-expanded="false" class="navbar-toggle collapsed" data-target="#main-nav" data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </a>
        </img>
    </div>
    <div class="col-md-5 col-sm-6">
        <ul class=" collapse list-unstyled " id="main-nav">
            <li>
                <a href="">
                    Home
                </a>
            </li>
            <li>
                <a href="/templates/layouts/about.html">
                    About Us
                </a>
            </li>
            <li>
                <a href="/templates/layouts/glossary.html">
                    Glossary
                </a>
            </li>
            <li>
                <a href="/templates/layouts/contact.html">
                    Contact Us
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/borrow.html">
                    How much can I borrow?
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/firsthome.html">
                    First home buyer
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/deal.html">
                    Wanting a better deal
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/invest.html">
                    Look to invest
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/employment.html">
                    Self Employment
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/loan.html">
                    Find the right loan
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/equipment.html">
                    Equipment & vehicle fianace
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/commerical.html">
                    Commerical Leading
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/apply.html">
                    Apply Online
                </a>
            </li>
            <li class="">
                <a href="/templates/layouts/tools.html">
                    Useful tools
                </a>
            </li>
        </ul>
        <ul class="menu list-inline hidden-xs ">
            <li>
                <a href="">
                    Home
                </a>
            </li>
            <li>
                <a href="/templates/layouts/about.html">
                    About Us
                </a>
            </li>
            <li>
                <a href="/templates/layouts/glossary.html">
                    Glossary
                </a>
            </li>
            <li>
                <a href="/templates/layouts/contact.html">
                    Contact Us
                </a>
            </li>
        </ul>
        <ul class="social">
            <li>
                <a href="">
                    <i class="icon-telephone">
                    </i>
                    <span>
                        (07) 3832 0599
                    </span>
                </a>
            </li>
            <li class="pull-right">
                <a href="">
                    <i class="icon-facebook">
                    </i>
                </a>
            </li>
            <li class="pull-right">
                <a href="">
                    <i class="icon-linkedin">
                    </i>
                </a>
            </li>
        </ul>
    </div>
</header>