<header class="banner row">
	<div class="col-md-8 col-sm-6">
		<img height="73" width="277" src="/assets/images/MAXWELL_Logo.png" alt="Maxwell Financial">
	</div>
	
	<div class="col-md-4 col-sm-6">
		<ul class="menu list-inline">
			<li><a href="">Home</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Glossary</a></li>
			<li><a href="">Contact Us</a></li>
		</ul>
		<ul class="social">
			<li><a href=""><i class="icon-telephone"></i> <span>(07) 3832 0599</span></a></li>
			<li class="pull-right"><a href=""><i class="icon-facebook"></i></a></li>
			<li class="pull-right"><a href=""><i class="icon-linkedin"></i></a></li>
		</ul>
	</div>
</header>