<div class="panel panel-default">


				  <div class="panel-heading ">@@title</div>
				  <ul class="list-group">
				    <li class="list-group-item"><a href="borrow.html">Maxwell Platinum Clients</a></li>
				    <li class="list-group-item"><a href="firsthome.html">First home buyer</a></li>
				    <li class="list-group-item"><a href="deal.html">Wanting a better deal</a></li>
				    <li class="list-group-item"><a href="invest.html">Look to invest</a></li>
				    <li class="list-group-item"><a href="employment.html">Self Employment</a></li>
				    <li class="list-group-item"><a href="loan.html">Finding the right loan</a></li>
				    <li class="list-group-item"><a href="equipment.html">Equipment &amp; vehicle Finance</a></li>
				    <li class="list-group-item"><a href="commerical.html">Commercial Leading</a></li>
				    <li class="list-group-item"><a href="apply.html">Apply Online</a></li>
				    <li class="list-group-item"><a href="tools.html">Useful tools</a></li>
				  </ul>
				</div>
				<div class="financetools-logo">
					<img border="0" align="top" src="http://financetools.com.au/images/mfaa-logo.gif" width="117" height="59">
					<a href="http://financetools.com.au/" target="_blank"><img border="0" align="top" src="http://financetools.com.au/images/poweredby.gif" width="105" height="20"></a>
				</div>
				