<!DOCTYPE html>
<html class=" -class ">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <title>Finance Broker Brisbane - Maxwell Financial | Surge Media</title>

		<!-- Bootstrap CSS -->
		<link href="/skin.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
					<script type='text/javascript'>
			(function (d, t) {
			  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
			  bh.type = 'text/javascript';
			  bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=iekddssn4kxiuhvuxnjiia';
			  s.parentNode.insertBefore(bh, s);
			  })(document, 'script');
			</script>
	</head>
<main class="container">
	<header class="banner row">
	    <div class="col-md-7 col-sm-6">
	    <a href="home.html">
	        <img alt="Maxwell Financial" height="73" src="/assets/images/MAXWELL_Logo.png" width="277">
	        </a>
	            <a aria-expanded="false" class="navbar-toggle collapsed" data-target="#main-nav" data-toggle="collapse" type="button">
	                <span class="sr-only">
	                    Toggle navigation
	                </span>
	                <span class="icon-bar">
	                </span>
	                <span class="icon-bar">
	                </span>
	                <span class="icon-bar">
	                </span>
	            </a>
	        </img>
	    </div>
	    <div class="col-md-5 col-sm-6">
	        <ul class=" collapse list-unstyled " id="main-nav">
	            <li>
	                <a href="">
	                    Home
	                </a>
	            </li>
	            <li>
	                <a href="about.html">
	                    About Us
	                </a>
	            </li>
	            <li>
	                <a href="glossary.html">
	                    Glossary
	                </a>
	            </li>
	            <li>
	                <a href="contact.html">
	                    Contact Us
	                </a>
	            </li>
	            <li class="">
	                <a href="borrow.html">
	                    How much can I borrow?
	                </a>
	            </li>
	            <li class="">
	                <a href="firsthome.html">
	                    First home buyer
	                </a>
	            </li>
	            <li class="">
	                <a href="deal.html">
	                    Wanting a better deal
	                </a>
	            </li>
	            <li class="">
	                <a href="invest.html">
	                    Look to invest
	                </a>
	            </li>
	            <li class="">
	                <a href="employment.html">
	                    Self Employment
	                </a>
	            </li>
	            <li class="">
	                <a href="loan.html">
	                    Find the right loan
	                </a>
	            </li>
	            <li class="">
	                <a href="equipment.html">
	                    Equipment & vehicle fianace
	                </a>
	            </li>
	            <li class="">
	                <a href="commerical.html">
	                    Commerical Leading
	                </a>
	            </li>
	            <li class="">
	                <a href="apply.html">
	                    Apply Online
	                </a>
	            </li>
	            <li class="">
	                <a href="tools.html">
	                    Useful tools
	                </a>
	            </li>
	        </ul>
	        <ul class="menu list-inline hidden-xs ">
	            <li>
	                <a href="">
	                    Home
	                </a>
	            </li>
	            <li>
	                <a href="about.html">
	                    About Us
	                </a>
	            </li>
	            <li>
	                <a href="glossary.html">
	                    Glossary
	                </a>
	            </li>
	            <li>
	                <a href="contact.html">
	                    Contact Us
	                </a>
	            </li>
	        </ul>
	        <ul class="social">
	            <li>
	                <a href="">
	                    <i class="icon-telephone">
	                    </i>
	                    <span>
	                        (07) 3832 0599
	                    </span>
	                </a>
	            </li>
	            <li class="pull-right">
	                <a href="">
	                    <i class="icon-facebook">
	                    </i>
	                </a>
	            </li>
	            <li class="pull-right">
	                <a href="">
	                    <i class="icon-linkedin">
	                    </i>
	                </a>
	            </li>
	        </ul>
	    </div>
	</header>
	<div class="row">
	<div id="sidebar" class="col-md-2 col-sm-3 grey-bg hidden-xs">
		<div class="panel panel-default">
						  <!-- Default panel contents -->
						  <div class="panel-heading ">Finding the right loan</div>
						  <ul class="list-group">
						    <li class="list-group-item"><a href="borrow.html">How much can I borrow?</a></li>
						    <li class="list-group-item"><a href="firsthome.html">First home buyer</a></li>
						    <li class="list-group-item"><a href="deal.html">Wanting a better deal</a></li>
						    <li class="list-group-item"><a href="invest.html">Look to invest</a></li>
						    <li class="list-group-item"><a href="employment.html">Self Employment</a></li>
						    <li class="list-group-item"><a href="loan.html">Finding the right loan</a></li>
						    <li class="list-group-item"><a href="equipment.html">Equipment &amp; vehicle fianace</a></li>
						    <li class="list-group-item"><a href="commerical.html">Commerical Leading</a></li>
						    <li class="list-group-item"><a href="apply.html">Apply Online</a></li>
						    <li class="list-group-item"><a href="tools.html">Useful tools</a></li>
						  </ul>
						</div>
						<div class="financetools-logo">
							<img border="0" align="top" src="http://financetools.com.au/images/mfaa-logo.gif" width="117" height="59">
							<a href="http://financetools.com.au/" target="_blank"><img border="0" align="top" src="http://financetools.com.au/images/poweredby.gif" width="105" height="20"></a>
						</div>
						
	</div>
	<img id="banner-img" class="col-md-10 col-sm-9" src="http://www.maxfin.com.au/images/loan.jpg" alt="">
        <div class="col-md-10 col-sm-9 col-xs-12 pull-right">
 <div class="content">



<div>
<h2>Types Of Loans</h2>
<p align="left"><a href="#1">Standard Variable Loan</a> <br><a href="#2">Basic Variable Loan</a> <br><a href="#3">Intro Rate ‘Honeymoon’ Loan</a> <br><a href="#4">Fixed Rate Loan</a> <br><a href="#5">100% Offset Loan Account</a> <br><a href="#6">Line of Credit Loan</a> <br><a href="#7">Low-Doc &amp; Credit Impaired Loans</a> <br><a href="#8">Construction Loans</a></p>
</div>
<section id="1">
<h2>Standard Variable Loan</h2>
<p>Standard variable loans are Australia’s most popular type of home loan. The interest rate varies throughout the loan term. These loans generally offer excellent flexibility, low fees and often offer great features such as an offset facility, redraw facility, no limits on additional repayments and in most cases, no early pay-out penalties.</p>

<strong>Advantages:</strong>
<p>Flexibility</p>
<p>Lump-sum payments can be made without incurring a penalty.
If interest rates fall, your repayments will fall.
Often offer extra features.</p>
<strong>Disadvantages:</strong>

<p>If interest rates rise your repayments will rise.</p>
<a href="#banner-img">Back to top ...</a>
<hr>
</section>
 
<section id="2">
<h2>Basic Variable Loan</h2>
<p>Basic variable loans typically offer lower interest rates and fewer features than the standard variable loans. You often have the option to pay for any additional feature required. Interest rates and repayments will vary throughout the loan term.</p>

<strong>Advantages:</strong>

<p>Relatively low interest rate.</br>
Lower repayments.</br>
Disadvantages:</p>

<p>Many of these loans do not have the same features or flexibility as other variable loans.</p>
<a href="#banner-img">Back to top ...</a>
<hr>
 </section>
<section id="3">
<h2>Intro Rate ‘Honeymoon’ Loan</h2>
<p>An introductory rate loan generally offers a guaranteed low rate for an initial period of time (usually 12 months) after which most will revert to the standard variable rate. The rate can be fixed or variable.</p>

<strong>Advantages:</strong>

<p>Usually the lowest rates on the market.
Some lenders provide offset accounts on these loans.
Opportunity to reduce the principal quickly during the ‘honeymoon’ period.</p>
<strong>Disadvantages:</strong>

<p>Payments will increase after initial introductory/’honeymoon’ period</p>
<a href="#banner-img">Back to top ...</a>
<hr>
</section>
 
<section id="4">
<h2>Fixed Rate Loan</h2>
<p>Under a fixed rate loan, the interest rate is fixed for a specified period, usually between one and five years. This loan gives you the certainty of knowing exactly what your monthly repayments will be and peace of mind knowing the repayments won’t rise. However you won’t benefit if rates go down during the fixed term.</p>

<strong>Advantages:</strong>

<p>Guaranteed rate, if interest rates rise your repayments won’t.</p>
<strong>Disadvantages:</strong>

Reduced flexibility.
<p>Extra repayments may incur a fee or be limited.</p>
<a href="#banner-img">Back to top ...</a>
<hr>
</section>
 
<section id="5">
<h2>100% Offset Loan Account</h2>
<p>A 100% offset loan is very similar to an all-in-one loan. Rather than putting all your salary and other income into your loan, it goes into an offset account that is directly linked to your home loan. Any balance in the offset account is 100% ‘offset’ against your home loan. This reduces the amount of interest you have to repay, making your money work harder for you.</p>

<strong>Advantages:</strong>

<p>Can save you substantial amount of interest if used correctly.
Operates like a normal transaction account and has a chequebook, ATM card, etc. attached.</p>
Disadvantages:

<p>May have higher monthly fees attached to the account.
May require a minimum balance in the account</p>
<a href="#banner-img">Back to top ...</a>
<hr>
 </section>
<section id="6">
<h2>Line of Credit Loan</h2>
<p>A line of credit loan provides you with access to the equity in your home or investment properties up to a pre-approved limit. You access the funds as you need to. The interest rate on a line of credit loan is usually a variable rate and repayments are interest only.
</p>
Advantages:

<p>You can use the money when you need it and pay it back when you can.
Rates are generally lower than a personal loan or credit card.</p>
Disadvantages:

<p>Unless care is shown it is possible to reduce the equity you have built in your home.</p>
<a href="#banner-img">Back to top ...</a>
<hr>
</section>
 
<section id="7">
<h2>Low-Doc & Credit Impaired Loans</h2>
<p>A low documentation (or no documentation) loan is suited to investors or self-employed borrowers who do not meet the ‘standard’ lending criteria. This may include; those with an impaired credit history, those who are unable to provide the required documentation in support of their loan application, or those who wish to borrow more than 100% of the property value.</p>

<p>
Simple income declaration form.
No tax returns.
No financial statements.
Can have features such as redraw, line of credit, variable or fixed rates, principal and interest or interest only.</p>
<strong>Disadvantages:</strong>
<p>
Generally a higher interest rate.</p>
<a href="#banner-img">Back to top ...</a>
<hr>
</section>
 
<section id="8">
<h2>Construction Loans</h2>
<p>If you are building your own home or investment property, a construction loan may be suitable for you. This loan requires a fixed price building contract from a registered builder. These loans are usually interest only for the period of building and then become principal and interest once building is completed. A construction loan allows you to draw money as is required whilst building. Also, with the usual necessary documents required when applying for a loan, construction loans also require a ‘fixed price building contract’ and ‘council approved plans’.</p>
<strong>Advantages:</strong>

<p>Competitive variable interest rates.
Facility to draw money when necessary whilst building.
Interest only payments during the building period.
Additional payments can be made.</p>
<strong>Disadvantages:</strong>

<p>Requires a fixed price building contract leaving little room for change whilst building.</p>
<p>Some lenders charge a fee for every time you draw money whilst building.
Given it is a variable loan; loan repayments will increase if interest rates go up.</p>
<a href="#banner-img">Back to top ...</a>







</div>
	<div class="owl-carousel">
			   <div class="item">
			      <img src="/assets/images/1slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/2slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/3slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/4slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/5slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/6slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/7slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/8slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/9slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/10slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/11slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/12slide.png">
			    </div>
			   <div class="item">
			      <img src="/assets/images/13slide.png">
			    </div>
	</div>
	<footer>
	<div class="col-xs-12 text-right"><a href="privacy.html">Privacy</a> | <a href="terms.html">Terms &amp; Conditions</a> | <a href="sitemap.html">Sitemap</a> </div>
	</footer>
	</div>
	</div>
</main>
		<script src="/assets/js/main.js"></script>
	</body>	
</html>



