// ul,li {
// 	list-style:none;
// 	margin: 0;
// 	padding: 0;
// 	display:inline-block;
// }

.text-bump {
	margin-top:1.5em;
	margin-bottom:1.5em;
}

.grey-bg {
	background-color:$light-grey;
}
h1,h2 {
	color:$blue;
	font-family: Tahoma;
}
h2 {
	font-size:1.8em;
}
a {
	font-family: Tahoma; 
}
#sidebar {
	a {
		font-family:Arial;
	}
}
p {
	font-family: Tahoma;
    font-size: 14px;
    line-height: 16px;
    color: $grey-dark;
}
.content {
	padding:3em;
	li {font-family: Tahoma; color: $grey-dark;
	font-size: 14px;
    line-height: 16px;
	}
}