body{
padding:0px;
margin:0px;
background:$grey;
}

main {
	border:5px solid $blue-light;
	background:#fff;
	box-shadow:3px 3px 10px rgba(#000,0.5);
}

a:hover{text-decoration:none;}
.m_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:12px;
		color:$grey-dark;
	}

.m1_text
	{
		font-family:Tahoma;
		font-size:12px;
		line-height:13px;
		color:$grey-dark;
	}
	
.m1_text2
	{
		font-family:Tahoma;
		font-size:13px;
		line-height:13px;
		color:$grey-dark;
	}

.h_text
	{
		font-family:Tahoma;
		font-size:13px;
		line-height:13px;
		color:$blue;
	}
	
.h_text2
	{
		font-family:Tahoma;
		font-size:13px;
		line-height:13px;
		color:$grey;
		font-weight: bold;
	}
	
.h_heading
	{
		font-family:Tahoma;
		font-size:17px;
		line-height:normal;
		color:$blue;
		font-weight: bold;
	}

.h_heading2
	{
		font-family:Tahoma;
		font-size:17px;
		line-height:normal;
		color:$blue;
		
	}
.l_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:$blue;
	}
	
.l_text2
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:$blue;
	}

.l1_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#ffffff;
	}	
	
.l1_text b {
	color : $grey;
	text-decoration: none;
}
.l1_text a {
	color : $grey;
	text-decoration: none;
}
.l1_text a:hover {
	color : #006790;
	text-decoration: none;
}

.l1_text2
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#93A81C;
	}

.c_text
	{
		font-family:Tahoma;
		font-size:11px;
		line-height:11px;
		color:#FFFFFF;
	}

.form
	{
		width:196px; height:18px; border-color:#878787; border-width:1px; background-color:#ffffff; border-style:solid; padding-left:5px
	}
	
.form1
	{
		width:136px; height:18px; border-color:#878787; border-width:1px; background-color:#ffffff; border-style:solid; padding-left:5px
	}
	
.form_div
	{
		height:21px; margin-top:-1px;		
	}
		
	a.c_text{text-decoration:none;}	
	a.c_text:hover{text-decoration:underline;}

ul { margin: 10px 0px 0px 0px;  list-style:dot;}
li { margin: 0px 0px 0px 0px; }

#tools {
	width:80%;
	margin:0 auto;
	li {
		padding:1em;
		text-align: center;
		a {
			display:block;
			text-align: center;
		}
		img {
			clear:both; 
			display:inline-block;
		}
		span {
			margin-top: 1em;
			clear:both; 
			width:100%;
			display:block;
		}
	}
}

@media (max-width: $screen-xs-max) {
	#tools {
	width:100%;
	margin:0 auto;
	li {
		width:100%;
		
	}
}
}