/*==============================
=            COLORS            =
==============================*/


$green: #D9E5DB;
$blue: #016292;
$blue-light: #00668F;
$blue-dark: #00435E;
$blue-ice: #A1D2EA;
$light-grey: #DEDEDE;

$grey: #CBCBCB;
$grey-dark:#454545;
/*=============================
=            Fonts            =
=============================*/


